<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">\
    <link rel="stylesheet" href="~/css/contact.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="/">Home</a>
            <a href="projects"><span>Projects</span></a>
            <p>Contact</p>
        </div>
        <h1>Contact Me!</h1>
        <form>
            <div class="left-form">
                <label for="name">Name</label>
                <input type="text" name="name">
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>
            <div class="msg">
                <label for="message">Message</label>
                <textarea name="message" rows="4" cols="30"></textarea>
            </div>
            <button>Send</button>
        </form>
    </div>
</body>
</html>