<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <p>Home</p>
            <a href="projects"><span>Projects</span></a>
            <a href="contact">Contact</a>
        </div>
        <h1>About Me</h1>
        <div class="main">
            <img src="https://i.kinja-img.com/gawker-media/image/upload/s--HqfzgkTd--/c_scale,f_auto,fl_progressive,q_80,w_800/wp2qinp6fu0d8guhex9v.jpg" alt="Happy Dog">
            <p>Good Boy</p>
            <p>I love chasing toys and licking faces!</p>
        </div>
        <div class="description">
            <p>Everyone tells me I'm the best boy! I love all things. I love smells, trees, squirrels, AND CARS OH MY GOSH CARS THEY ZOOM SO FAST!!</p>
            <p>My favorite time of the day is dinner time. Boy, I love food. Have you ever smelled how food smells? It's so good!</p>
        </div>
    </div>
</body>
</html>