<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/projects.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="/">Home</a>
            <p>Projects</p>
            <a href="contact">Contact</a>
        </div>
        <h1>Here are some of my projects!</h1>
        <div class="pre-scrollable">
            <div class="project">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61A5lkj1eXL._SX425_.jpg">
                <div class="proj-info">
                    <h2>Awesome ball!</h2>
                    <p>Check out my favorite ball that I've been chasing! It's so much fun!</p>
                </div>
            </div>
            <div class="project">
                <img src="http://www.sciencefriday.com/wp-content/uploads/2016/09/shutterstock_342681401.jpg">
                <div class="proj-info">
                    <h2>Neat new trick!</h2>
                    <p>My owner and I have been working on a new trick they like to call "shake"!</p>
                </div>
            </div>
            <div class="project">
                <img src="https://www.fortheloveofcooking.net/wp-content/uploads/2017/11/Pumpkin-Banana-Dog-Treats-2186-1.jpg">
                <div class="proj-info">
                    <h2>Dog treats</h2>
                    <p>We have been learning how to cook the best dog treats and they're delicious!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>